// https://codepen.io/Kaiyuan/pen/DjBRbV?editors=1100

$light-grey: #E5E4DF;
$light-grey-secondary: #CDCDC6;
$snow: #f5f5f5;
$cement: rgba(255,255,255,.4);
$asphalt: rgba(255,255,255,0);
$glare-size: 75%;

@mixin background-gradient($from, $to) {
	background-image: -webkit-linear-gradient($from, $to);
	background-image: -moz-linear-gradient($from, $to);
	background-image: -o-linear-gradient($from, $to);
	background-image: linear-gradient($from, $to);
}

@mixin rotateZ($deg) {
	transform: rotateZ($deg);
	-webkit-transform: rotateZ($deg);
	-moz-transform: rotateZ($deg);
	-o-transform: rotateZ($deg);
}

.frame-container {
	width: 50%;

	.frames,
	.frame {
		width: 100%;
	}
}

.frame {
	@include background-gradient($light-grey, $light-grey-secondary);

	display: inline-block;
	padding: 40px;
	border-width: 20px;
	border-style: solid;
	border-color: #2F2D2D #434040 #4F4C4C #434040;
	background: $snow;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from($light-grey), to($light-grey-secondary));
	box-shadow: inset 0 2px 5px #00000099,
		0 5px 2px #0000001a,
		0 10px 20px #000000cc;
	position: relative;
	overflow: hidden;

	&::before {
		@include rotateZ(-40deg);
		@include background-gradient($cement, $asphalt);
		
		content: "";
		position: absolute;
		top: -40%;
		right: -20%;
		width: $glare-size;
		height: $glare-size;
		z-index: 1;
		background-image: -webkit-gradient(linear, 0 0, 0 100%, from($cement), to($asphalt));
	}

	div {
		border-width: 2px;
		border-style: inherit;
		border-color: #BBBAB4 #C7C7BF #E5E4DF #C7C7BF;
		box-shadow: 0 -1px 1px rgba(0,0,0,.1),
			0 1px 1px 1px rgba(255,255,255,.7);
	}
}