@import '../../scss/global.scss';

@font-face {
	font-family: 'Fira Code';
	src: local('FiraCode-Regular'), url(../../assets/fonts/FiraCode-Regular.otf);
}

div.resumeContainer {
	display: flex;
	flex-direction: column;
	padding: 1rem 3rem;
	color: $white-ter;
	background-color: $dark;

	* {
		font-family: 'Fira Code';
	}

	h1 {
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
		margin-top: 1rem;

		&:first-child {
			text-align: left;
		}
	}

	hr {
		margin: 0;
		height: 1px;
	}

	ol {
		margin: 1rem;

		li {
			list-style-type: circle;
		}
	}

	span {
		font-weight: bold;
	}
}