@import '../../scss/global.scss';

div.container {
	display: flex;
	justify-content: center;

	div.resumeContainer {
		width: 80%;
		border: 1px solid $white-ter;
		border-radius: 10px;
		padding: 1%;
		color: $white-ter;
		background-color: $dark;

		h1.bold {
			font-weight: bold;
		}

		hr {
			margin: 0;
			height: 1px;
		}

		.centerText {
			text-align: center;
		}

		.marginTop {
			margin-top: 1rem;
		}
	}
}