div.layoutContainer {
	padding: 0 .5rem 0 .5rem;
	height: 100vh;
	overflow: auto;
	display: flex;
	flex-direction: column;

	main {
		height: 0;
		flex: 1 1 0;
		overflow: auto;

		div.resumeContainer {
			* {
				font-family: 'Fira Code';
			}

			ol {
				margin: 1rem;

				li {
					list-style-type: circle;
				}
			}
		}
	}
}