@import '../../scss/global.scss';

@font-face {
	font-family: 'Empire';
	src: local('Empire'), url(../../assets/fonts/Empire.otf) format('truetype')
}

nav {
	margin-bottom: .5rem;

	a {
		font-family: 'Empire';
		letter-spacing: 3px;
		font-size: 1.5em;
		border-radius: 10px;
		border: 1px solid transparent;
		transition: all .2s ease;
	}

	.active {
		border: 1px solid $purple;
	}
}