@import '../../scss/global.scss';

@font-face {
	font-family: 'Grizzly';
	src: local('Grizzly'), url(../../assets/fonts/Grizzly.ttf) format('truetype')
}

header {
	h1.titleText {
		font-size: 2em;
		letter-spacing: 3px;
		
		a.header {
			color: $purple;
			text-decoration: none;
			font-family: 'Grizzly';
			font-weight: lighter;
			transition: all .5s ease;

			&:hover {
				color: $warning;
			}
		}
	}
}

img {
	margin: 0;
}