@font-face {
	font-family: 'Grizzly';
	src: local('Grizzly'), url(../../assets/fonts/Grizzly.ttf) format('truetype')
}
h1 {
	padding: .5rem 0 .5rem .5 !important;
	font-size: 2em !important;
	// margin: 0 !important;
}
a.header {
	color: white;
	text-decoration: none;
	font-family: 'Grizzly';
	font-weight: lighter;
}
header {
	background-color: #666;
}
img {
	margin: 0;
}