@import '../../scss/index.scss';

@font-face {
	font-family: 'Grizzly';
	src: local('Grizzly'), url(../../assets/fonts/Grizzly.ttf) format('truetype')
}

header {
	// background-color: #666;
	background-color: $dark;

	h1.titleText {
		padding: 0 0 0 1rem;
		font-size: 2em;
		letter-spacing: 3px;
		
		a.header {
			color: #bba3eb;
			text-decoration: none;
			font-family: 'Grizzly';
			font-weight: lighter;
		}
	}
}

img {
	margin: 0;
}