@import '../../scss/global.scss';

div.container {
	display: flex;
	justify-content: space-evenly;
	margin-top: .5rem;

	a {
		transition: all .5s ease;
		i {
			color: $info;
			font-size: 1.5rem;
			transition: all .5s ease;

			&:hover {
				color: $purple;
			}
		}

		&:hover {
			transform: scale(1.5);
		}
	}
}