@import '../../scss/mixins';
@import '../../scss/variables.scss';

div.socialMediaContainer {
	display: flex;
	justify-content: space-evenly;
	margin-top: 1rem;

	a {
		@include transition-all();

		i,
		.gmail-icon {
			@include transition-all();
			color: $info;
			font-size: 2rem;

			&:hover {
				color: $purple;
			}
		}

		&:hover {
			transform: scale(1.2);
		}
	}
}