@font-face {
	font-family: 'Friday13';
	src: local('Friday13'), url(./fonts/Friday13.ttf) format('truetype')
}
@font-face {
	font-family: 'Empire';
	src: local('Empire'), url(./fonts/Empire.otf) format('truetype')
}
@font-face {
	font-family: 'Grizzly';
  src: local('Grizzly'), url(./fonts/Grizzly.ttf) format('truetype')
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.name {
  font-family: 'Grizzly';
  font-weight: lighter;
  margin: 0;;
}