@font-face {
	font-family: 'Drama Sans';
	src: url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot'); /* IE9 Compat Modes */
	src: url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		   url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff2') format('woff2'), /* Super Modern Browsers */
		   url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff') format('woff'), /* Pretty Modern Browsers */
		   url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
	font-family: 'Friday13';
	src: local('Friday13'), url(./assets/fonts/Friday13.ttf) format('truetype')
}
@font-face {
	font-family: 'Empire';
	src: local('Empire'), url(./assets/fonts/Empire.otf) format('truetype')
}
@font-face {
	font-family: 'Grizzly';
	src: local('Grizzly'), url(./assets/fonts/Grizzly.ttf) format('truetype')
}
* {
	font-family: 'Drama Sans';
}
body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
// Css for anchor tags in the Bio component
.bioAnchor {
	color: lightskyblue;
}