@charset 'utf-8';
@import './variables.scss';

// If need, change your variables before importing Bulma
// $title-color: #ff0000;

@import '~bulma/bulma.sass';

html, body {
	background-color: $dark;
	height: 100%;
	overscroll-behavior: none;
	color: $light;

	i {
		color: $warning;
	}
}