@charset 'utf-8';
@import './variables.scss';
@import '../scss/mixins';

// If need, change your variables before importing Bulma
// $title-color: #ff0000;

@import '~bulma/bulma.sass';

// Rubik font: 
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

@font-face {
	font-family: 'Rubik';
	src: url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
}

// Register fonts
@font-face {
	font-family: 'Drama Sans';
	src: url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot');
	/* IE9 Compat Modes */
	src: url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
		url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff2') format('woff2'),
		/* Super Modern Browsers */
		url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff') format('woff'),
		/* Pretty Modern Browsers */
		url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.ttf') format('truetype');
	/* Safari, Android, iOS */
}

@font-face {
	font-family: 'Empire';
	src: local('Empire'), url(../assets/fonts/Empire.otf) format('truetype');
}

@font-face {
	font-family: 'Fira Code';
	src: local('FiraCode-Regular'), url(../assets/fonts/FiraCode-Regular.otf);
}

@font-face {
	font-family: 'Kaushan Script';
	src: local('KaushanScript-Regular'), url(../assets/fonts/KaushanScript-Regular.ttf);
}

@font-face {
	font-family: 'FredokaOne';
	src: local('FredokaOne'), url(../assets/fonts/FredokaOne-Regular.ttf);
}

// Mixins
@mixin flex() {
	display: flex;
}

// Scoping to outer html/body elements
html,
body {
	background-color: $dark;
	height: 100%;
	color: $light;
	overscroll-behavior: none;

	// Selector for using 'script' style font
	.has-script-text {
		font-family: 'Kaushan Script' !important;
	}

	// START - Css for mobile fix
	.navbar-item {
		@include flex();
		color: $light  !important;
	}

	.navbar {
		overflow: auto;
	}

	.navbar,
	.navbar-menu,
	.navbar-start,
	.navbar-end {
		background: $dark  !important;
		align-items: stretch;
		@include flex();
		padding: 0;
	}

	.navbar-menu {
		flex-grow: 1;
		flex-shrink: 0;
	}

	.navbar-start {
		justify-content: flex-start;
		margin-right: auto;
	}

	.navbar-end {
		justify-content: flex-end;
		margin-left: auto;
	}

	.grid {
		@include flex();
	}

	// END - Css for mobile fix

	// Default all text to use 'Drama Sans'
	* {
		// font-family: 'Drama Sans';
		font-family: 'Rubik';
	}

	i {
		color: $warning;
	}

	a {
		color: $purple;

		&:hover {
			color: $red;
		}
	}

	code {
		background: inherit;
	}

	nav {
		a {
			// font-family: 'Empire';
			// font-family: 'Kaushan Script';
			// letter-spacing: 3px;
			// font-size: 1.5em;
			// border-radius: 10px;
			border-bottom: 2px solid transparent;

			&.active {
				border-bottom: 2px solid $purple;
				background-color: $dark  !important;
			}
		}
	}

	.titleText {
		@include transition-all();
		color: $purple;
		text-decoration: none;
		font-family: 'FredokaOne';
		font-size: 5em;
		line-height: 1;

		@media (max-width: 1200px) {
			font-size: 3em;
		}
	}
}
