@charset 'utf-8';
@import './variables.scss';

// If need, change your variables before importing Bulma
// $title-color: #ff0000;

@import '~bulma/bulma.sass';

@font-face {
	font-family: 'Drama Sans';
	src: url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot'); /* IE9 Compat Modes */
	src: url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		   	 url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff2') format('woff2'), /* Super Modern Browsers */
				 url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.woff') format('woff'), /* Pretty Modern Browsers */
		   	 url('https://rawgit.com/drama-sans/drama-sans/master/dist/DramaSans.ttf')  format('truetype'); /* Safari, Android, iOS */
}

* {
	font-family: 'Drama Sans';
}

html, body {
	background-color: $dark;
	height: 100%;
	overscroll-behavior: none;
	color: $light;

	i {
		color: $warning;
	}
}