@charset "utf-8";

// If need, change your variables before importing Bulma
// $title-color: #ff0000;
$purple: #bba3eb;

@import "~bulma/bulma.sass";

html, body {
	background-color: $dark;
	height: 100%;
	// position: fixed;
	// overflow: hidden;
	color: $light;

	i {
		color: $warning;
	}
}